#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

li {
  list-style: none;
}

.container {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  gap: 1.5rem;
}

.container>li>.pet-body {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
}

.skills {
  display: flex;
  /* justify-content:start; */
  /* padding:0.5rem; */
}

.skills>li {
  margin: 0 0.4rem;
}